flask
flask-cors

# Honeycomb (maybe it will give an error as it is a text file)
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

# adding XRAY 
aws-xray-sdk

# adding AWS CloudWatch 
watchtower

# adding Rollbar
blinker
rollbar

# adding Cognito 
Flask-AWSCognito
